#root {
  margin: 0 auto;
}

.main {
    position: absolute;
  margin-top: 5rem;
}

.logo{
    width: 40px;
    height: 40px;
    margin: 0.5rem;
    float: left;
}

.title{
    width: 100%;
    font-size: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.96);
    z-index: 10;
    word-wrap: break-word;
    margin: 0 40px 0 0;
    top: 0;
    color: #3131ab;
}

button{
    padding: 0.1rem;
    margin: 0.1rem;
}

.deployment {
  color: #ffffff;
  display: inline-block;
    background-color: #14147e;
    margin: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    width: 320px;
}

.environment_not_started{
    background-color: #7e0000;
}

.environment_ready{
    background-color: #2e9400;
}

.environment_loading {
    background-color: #945400;
}

.buttons {
    color: #ffffff;
    display: inline-block;
    background-color: #757575;
    margin: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    width: 320px;
}
