#root {
  margin: 0 auto;


}

button{
    padding: 0.1rem;
    margin: 0.1rem;
}

.deployment {
  color: #ffffff;
  display: inline-block;
    background-color: #14147e;
    margin: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    width: 320px;
}

.environment_not_started{
    background-color: #7e0000;
}

.environment_ready{
    background-color: #2e9400;
}

.environment_loading {
    background-color: #945400;
}

